@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap');

h1, h2 {
    font-weight: 400;
}


p {
    margin:.5em;
}


body {
    background-color: #DC092D;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

#search {
    background-color: #28AAFD;
    color: white;
    margin-top: 1em;
    padding: 0.5em 1.5em; 
    font-size: 16px;
    border-radius: 5px;
}

#users-input {
    height: 15px;
    font-size: 16px;
    padding: 5px;
    width: 80%;
}

.capitalize {
    text-transform: capitalize;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255,224,0);
    margin: 3em 4em;
    height: 100%;
}

.pokemon-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.img-wrapper {
    height: 150px;
    width: 150px;
}

.pokemon-img {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    text-align: center;
}

.poke-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FBEFD8;
    height: 40vh;
    width: 100%;
    margin: 2em 0;
    padding: 1em 1.5em;
    border-radius: 3px;
}